<section class="limit">
  <div class="conf-infos">
    <div class="conf-infos__column">
      <h4 class="conf-infos__title">
        Cos'è?
      </h4>
      <p class="conf-infos__text">
        COBOLday è la prima conferenza italiana dedicata esclusivamente allo sviluppo con COBOL.
        Sono centinaia gli sviluppatori e le sviluppatrici che da tutta Italia hanno richiesto a gran voce l'organizzazione
        di questo evento.
      </p>
      <p class="conf-infos__text">
        Secondo alcune fonti, il COBOL nel 2013 era ancora utilizzato nel 70% di tutte le transazioni aziendali, e in
        COBOL sarebbero state scritte l'85% delle applicazioni business nel mondo. Secondo un'indagine Micro Focus le
        aziende nel 2013 ancora cercavano programmatori COBOL da sostituire agli sviluppatori storici poiché il 75% dei
        processi di riscrittura in un linguaggio più moderno si sono rivelati fallimentari o il costo di sostituzione è
        troppo alto da sostenere.
      </p>
      <h4 class="conf-infos__title">
        Cosa imparerai?
      </h4>
      <p class="conf-infos__text">
        Verranno presentate le best practice per lo sviluppo e verranno mostrati case study ad alto livello. Potrai imparare
        cose utili e interessanti da chi utilizza COBOL quotidianamente in diversi contesti.
      </p>

      <div class="vimeo">
      </div>
    </div>

    <div class="conf-infos__column conf-infos__column--right">
      <div class="mega-info mega-info--responsive">
        <div class="mega-info__number">8+</div>
        <div class="mega-info__text">Sessioni</div>
      </div>
      <div class="mega-info mega-info--responsive">
        <div class="mega-info__number">2</div>
        <div class="mega-info__text">Workshop</div>
      </div>

      <div class="vimeo-phrase">
        Dedicata<br>
        esclusivamente<br>
        allo sviluppo<br>
        con COBOL
      </div>
    </div>
  </div>
</section>
